<div {{ attributes }}>
	<div class="grid gap-4 py-4">
		<div class="grid gap-3">
			<twig:Label for="category-name">Nom de la catégorie</twig:Label>
			<input type="text" id="category-name" name="name" data-model="name" value="{{ name }}" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"/>
		</div>
	</div>

	<div class="flex justify-end gap-2">
		<twig:Dialog:Close>
			<button type="button" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2">Annuler</button>
		</twig:Dialog:Close>
		<button type="button" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2" data-action="live#action" data-live-action-param="saveCategory">
			Ajouter
		</button>
	</div>
</div>
